Repository Leander-Dynamics/terraform-halomd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Path conditions:
  .ado/pipelines/arbitration-app.yml: any of: Arbitration, .ado/pipelines/arbitration-app.yml
  .ado/pipelines/terraform-dev.yml: any of: platform/infra/envs/dev, .ado
  .ado/pipelines/terraform-multi.yml: any of: platform/infra, .ado

Add dev app services and wire hostnames into networking
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Update backend state config for stage and prod
  platform/infra/envs/prod/backend.tfvars
  platform/infra/envs/stage/backend.tfvars
Due: .ado/pipelines/terraform-multi.yml

Configure pipeline variable groups
  azure-pipelines.yml
Due: none

Use pipeline-provided Azure IDs
  .ado/templates/tf-apply.yml
  .ado/templates/tf-plan.yml
  azure-pipelines.yml
  docs/GLOBAL-VARIABLES.md
  platform/infra/envs/dev/providers.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/providers.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/providers.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Include pipeline file in trigger paths
  azure-pipelines.yml
Due: none

chore: remove sql_db_name from tfvars
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add optional App Insights resource group override
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add feature toggle variables to environment definitions
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Consolidate app gateway backend host configuration
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: expand gitignore for Terraform and dev files
  .gitignore
Due: none

Add app insights name variable for all environments
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: remove unused aks and storage toggles
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Remove unused dev environment function settings
  platform/infra/envs/dev/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Rename negotiation notice deadline null data test
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: none

Fix module outputs to reference correct resource IDs
  platform/infra/Azure/modules/linux-virtual-machine/outputs.tf
  platform/infra/Azure/modules/linux-web-app/outputs.tf
  platform/infra/Azure/modules/managed-disk/outputs.tf
  platform/infra/Azure/modules/mssql-database/outputs.tf
  platform/infra/Azure/modules/mssql-server/outputs.tf
  platform/infra/Azure/modules/network-security-group/outputs.tf
  platform/infra/Azure/modules/storage-container/outputs.tf
  platform/infra/Azure/modules/virtual-machine-data-disk-attachment/outputs.tf
Due: .ado/pipelines/terraform-multi.yml

Define module variable types and document defaults
  platform/infra/Azure/modules/mssql-database/README.md
  platform/infra/Azure/modules/mssql-database/variables.tf
  platform/infra/Azure/modules/storage-container/README.md
  platform/infra/Azure/modules/storage-container/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Add Linux Function App module with dependencies
  platform/infra/Azure/modules/linux-function-app/main.tf
  platform/infra/Azure/modules/linux-function-app/outputs.tf
  platform/infra/Azure/modules/linux-function-app/variables.tf
  tests/infra/linux-function-app/main.tf
  tests/infra/linux-function-app/outputs.tf
  tests/infra/linux-function-app/providers.tf
Due: .ado/pipelines/terraform-multi.yml

Add storage account name input to storage container module
  platform/infra/Azure/modules/storage-container/README.md
  platform/infra/Azure/modules/storage-container/main.tf
  platform/infra/Azure/modules/storage-container/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Allow configuring blob public access on storage accounts
  platform/infra/Azure/modules/storage-account/main.tf
  platform/infra/Azure/modules/storage-account/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Specify managed disk variable types
  platform/infra/Azure/modules/managed-disk/variables.tf
Due: .ado/pipelines/terraform-multi.yml

feat: require NIC id for linux VM module
  platform/infra/Azure/modules/linux-virtual-machine/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Require SQL admin credentials
  platform/infra/Azure/modules/sql-database/variables.tf
  platform/infra/Azure/modules/sql-serverless/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Refactor negotiation notice deadline tests to use theories
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: none

Configure CORS policy for MPArbitration
  Arbitration/MPArbitration/Program.cs
Due: .ado/pipelines/arbitration-app.yml

Expose blob public access toggle
  platform/infra/Azure/modules/storage-account/main.tf
  platform/infra/Azure/modules/storage-account/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Refine VM data disk variables
  platform/infra/Azure/modules/virtual-machine-data-disk-attachment/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Add storage account variable to storage container module
  platform/infra/Azure/modules/storage-container/README.md
  platform/infra/Azure/modules/storage-container/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Make service_plan_id required for linux web app module
  platform/infra/Azure/modules/linux-web-app/README.md
  platform/infra/Azure/modules/linux-web-app/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Make Linux VM NIC input required
  platform/infra/Azure/modules/linux-virtual-machine/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Enforce SQL admin credentials input
  platform/infra/Azure/modules/sql-database/variables.tf
  platform/infra/Azure/modules/sql-serverless/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Make app gateway subnet id required in dev env
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Update Dockerfile to optimize runtime image
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

Refactor negotiation notice deadline tests to theory
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: none

Add Arbitration build and tests to validate stage
  .ado/templates/tf-validate.yml
  azure-pipelines.yml
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Update ASPNETCORE_URLS env
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

Enable analyzers for MPArbitration project
  Arbitration/MPArbitration/MPArbitration.csproj
Due: .ado/pipelines/arbitration-app.yml
