Repository Leander-Dynamics/terraform-halomd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

.ado/pipelines/arbitration-app.yml:
  stages:
  - stage: build
    displayName: Build & Package
    jobs:
    - template: .ado/templates/arbitration-build.yml
  - stage: deploy_dev
    displayName: Deploy to dev
    dependsOn: build
  ...

.ado/pipelines/terraform-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    jobs:
    - template: ../templates/tf-validate.yml
      parameters:
        envName: dev
        tfVersion: ${{ variables.TF_VERSION }}
  - stage: Plan
    dependsOn: Validate
    jobs:
    - template: ../templates/tf-plan.yml
      parameters:
  ...

.ado/pipelines/terraform-multi.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate & Lint
    jobs:
    - template: ../templates/tf-validate.yml
      parameters:
        envName: dev
        tfVersion: ${{ variables.TF_VERSION }}
  - stage: Plan_All
    displayName: Terraform Plan (dev, stage, prod)
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate & Lint
    jobs:
    - job: build_arbitration
      displayName: Build & Test Arbitration Solution
      steps:
      - checkout: self
      - task: DotNetCoreCLI@2
        displayName: Restore MPArbitration.sln
        inputs:
  ...

Use shared web-app module for arbitration services
  platform/infra/Azure/modules/web-app/main.tf
  platform/infra/Azure/modules/web-app/outputs.tf
  platform/infra/Azure/modules/web-app/variables.tf
  platform/infra/Azure/modules/web-app/versions.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add QA backend remote state configuration
  platform/infra/envs/qa/backend.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add QA environment tfvars
  .gitignore
  platform/infra/envs/qa/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add arbitration deployment scripts
  .gitignore
  README.md
  scripts/deploy-arbitration.ps1
  scripts/deploy-arbitration.sh
Due: none

Fix QA app service module block
  platform/infra/envs/qa/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add Linux App Service wrapper module
  platform/infra/Azure/modules/app-service-web/main.tf
  platform/infra/Azure/modules/app-service-web/outputs.tf
  platform/infra/Azure/modules/app-service-web/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Align env app service resources with declared variables
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

feat: add QA environment tfvars configuration
  platform/infra/envs/qa/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

refactor: reuse web app module across envs
  platform/infra/envs/dev/main.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/qa/main.tf
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add arbitration web app module to environment configurations
  platform/infra/envs/dev/main.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/qa/main.tf
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Fix QA env web app module usage
  platform/infra/envs/qa/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Remove duplicated variable definitions in dev and QA
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/qa/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Adding-Terraform-IAC-Code
  docs/Development Network - Technology Platform - HaloMD Wiki.pdf
  docs/Hub Network - Technology Platform - HaloMD Wiki.html
  docs/Private DNS Resolver - Technology Platform - HaloMD Wiki.pdf
  docs/Production Network - Technology Platform - HaloMD Wiki.pdf
  docs/QA Network - Technology Platform - HaloMD Wiki.pdf
  docs/Session flow for public users for the Arbit Project to the new AZ Env.doc
  docs/Staging Network - Technology Platform - HaloMD Wiki.pdf
  tests/TestArbitApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.AssemblyInfo.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.AssemblyInfoInputs.cache
  tests/TestArbitApi/obj/Debug/net6.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
  tests/TestArbitApi/obj/Debug/net6.0/Tests.GlobalUsings.g.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.csproj.AssemblyReference.cache
Due: none

Enable system-assigned identity for arbitration app service
  platform/infra/Azure/modules/app-service-arbitration/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Ensure mssql server module configures administrators
  platform/infra/Azure/modules/mssql-server/README.md
  platform/infra/Azure/modules/mssql-server/main.tf
  platform/infra/Azure/modules/mssql-server/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Restore Linux VM required inputs
  platform/infra/Azure/modules/linux-virtual-machine/main.tf
  platform/infra/Azure/modules/linux-virtual-machine/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Remove DNS record arguments from network module
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add Azure AD provider configuration for envs
  platform/infra/envs/dev/providers.tf
  platform/infra/envs/prod/providers.tf
  platform/infra/envs/stage/providers.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Adjust arbitration app service type defaults
  .ado/pipelines/arbitration-app.yml
  .ado/templates/arbitration-deploy.yml
Due: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Restore arbitration tests project and fix pipeline path
  azure-pipelines.yml
  tests/TestArbitApi/Tests.csproj
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: azure-pipelines.yml

Add QA environment configuration
  docs/ADO-CICD-Workflow.md
  docs/ADO-setup.md
  docs/DEV-Deploy-From-Laptop.md
  docs/DEV-Deploy-With-Branching.md
  docs/GLOBAL-VARIABLES.md
  docs/SECRETS-AKV.md
  docs/ci-cd-best-practices.md
  docs/naming-conventions.md
  docs/step-by-step.md
  docs/what-changed-and-why.md
  platform/infra/envs/qa/.terraform.lock.hcl
  platform/infra/envs/qa/backend.tf
  platform/infra/envs/qa/main.tf
  platform/infra/envs/qa/principal.auto.tfvars.sample
  platform/infra/envs/qa/providers.tf
  platform/infra/envs/qa/terraform.tfvars
  platform/infra/envs/qa/variables.tf
  platform/infra/envs/qa/versions.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Secure connection strings via Key Vault
  Arbitration/MPExternalDisputeAPI/MPExternalDisputeAPI.csproj
  Arbitration/MPExternalDisputeAPI/Program.cs
  Arbitration/MPExternalDisputeAPI/appsettings.json
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Inject SQL admin secrets via pipeline
  .ado/templates/tf-plan.yml
  azure-pipelines.yml
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add arbitration storage and secret provisioning
  platform/infra/Azure/modules/key-vault/main.tf
  platform/infra/Azure/modules/key-vault/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

feat: populate key vault secrets and rbac
  platform/infra/Azure/modules/key-vault/main.tf
  platform/infra/Azure/modules/key-vault/outputs.tf
  platform/infra/Azure/modules/key-vault/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Inject App Insights settings into arbitration app
  platform/infra/Azure/modules/app-service-arbitration/main.tf
  platform/infra/Azure/modules/app-service-arbitration/variables.tf
  platform/infra/envs/dev/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Align arbitration runtime version with Azure .NET 6
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add arbitration app modules to stage environment
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Merge arbitration storage connection secret into kv module
  platform/infra/envs/dev/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Normalize stage arbitration connection strings
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Align QA arbitration runtime with .NET 6
  platform/infra/envs/qa/main.tf
  platform/infra/envs/qa/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add QA arbitration storage resources and KV secret
  platform/infra/envs/qa/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Remove unused app gateway subnet ID variables
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/qa/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add stage environment core modules and SQL secret lookup
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Update-terraform
  tests/TestArbitApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.AssemblyInfo.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.AssemblyInfoInputs.cache
  tests/TestArbitApi/obj/Debug/net6.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
  tests/TestArbitApi/obj/Debug/net6.0/Tests.GlobalUsings.g.cs
  tests/TestArbitApi/obj/Debug/net6.0/Tests.csproj.AssemblyReference.cache
Due: none

update
  tests/TestArbitApi/bin/Debug/net6.0/CoverletSourceRootsMapping
  tests/TestArbitApi/obj/Debug/net6.0/Tests.assets.cache
  tests/TestArbitApi/obj/Debug/net6.0/Tests.csproj.AssemblyReference.cache
  tests/TestArbitApi/obj/Tests.csproj.nuget.dgspec.json
  tests/TestArbitApi/obj/Tests.csproj.nuget.g.props
  tests/TestArbitApi/obj/Tests.csproj.nuget.g.targets
  tests/TestArbitApi/obj/project.assets.json
  tests/TestArbitApi/obj/project.nuget.cache
Due: none

update-Terraform-IAD2-Dev
  .ado/pipelines/arbitration-app.yml
  .ado/templates/arbitration-build.yml
  .ado/templates/arbitration-deploy.yml
  .ado/templates/tf-apply.yml
  .ado/templates/tf-plan.yml
  .ado/templates/tf-validate.yml
  .gitignore
  README.md
  azure-pipelines.yml
  db/migrations/arbitration/2380_ImportFieldConfigs-EOB Date Add Script.sql
  db/migrations/arbitration/2398_PayorClaimNumber Column add script.sql
  db/migrations/arbitration/2400-Populate 'Brief Approver' in 'Brief Details' Section on Dispute Page.sql
  db/migrations/arbitration/2404-Populate 'Brief Assigned Date' in the Brief Details Section on the Dispute Page.sql
  db/migrations/arbitration/2439_DisputeMasterDisputeStatus-Data popoulation.sql
  db/migrations/arbitration/2465_Id Column add for Dispute Ref tables script.sql
  db/migrations/arbitration/2508_Add_PrevailingParty_AND_AwardAmount_Columns_In_DisputeMaster.sql
  db/migrations/arbitration/2508_DataTransfer_PrevailingParty_AND_AwardAmount_to_DisputeMaster.sql
  db/migrations/arbitration/2508_Remove_PrevailingParty_AND_TotalAwardAmount_Columns_From_DisputeAwardDeterminations.sql
  db/migrations/arbitration/Arbit-DisputeNumber.sql
  db/migrations/arbitration/ParseJson.sql
  db/migrations/arbitration/PayorClaim-AuthorityID.sql
  docs/ADO-CICD-Workflow.md
  docs/ADO-setup.md
  docs/DEV-Deploy-From-Laptop.md
  docs/DEV-Deploy-With-Branching.md
  docs/GLOBAL-VARIABLES.md
  docs/SECRETS-AKV.md
  docs/ci-cd-best-practices.md
  docs/naming-conventions.md
  docs/network/Hub Network - Technology Platform - HaloMD Wiki.html
  docs/state-migration.md
  docs/step-by-step.md
  docs/what-changed-and-why.md
  global.json
  scripts/Arbitration-SendNSARequests.ps1
  scripts/azure-bootstrap-tfstate.ps1
  scripts/azure-bootstrap-tfstate.sh
  tests/TestArbitApi/Tests.csproj
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

update-Terraform-IAD2-Dev
  Arbitration.zip
  new-terraform-modules/.ci/azure-pipelines.yml
  new-terraform-modules/.ci/generate_inventory.sh
  new-terraform-modules/.gitignore
  new-terraform-modules/CHANGELOG.md
  new-terraform-modules/MODULES.md
  new-terraform-modules/Makefile
  new-terraform-modules/README.md
  new-terraform-modules/modules/compute/.gitkeep
  new-terraform-modules/modules/data/sftp/main.tf
  new-terraform-modules/modules/data/sftp/outputs.tf
  new-terraform-modules/modules/data/sftp/variables.tf
  new-terraform-modules/modules/data/storage_account/main.tf
  new-terraform-modules/modules/data/storage_account/outputs.tf
  new-terraform-modules/modules/data/storage_account/variables.tf
  new-terraform-modules/modules/org/resource_group/main.tf
  new-terraform-modules/modules/org/resource_group/outputs.tf
  new-terraform-modules/modules/org/resource_group/variables.tf
  new-terraform-workflow/.gitignore
  new-terraform-workflow/.terraform.lock.hcl
  new-terraform-workflow/README.md
  new-terraform-workflow/backend.tf
  new-terraform-workflow/backend_appservice.tf
  new-terraform-workflow/cron_tasks_function.tf
  new-terraform-workflow/databases.tf
  new-terraform-workflow/dns.tf
  new-terraform-workflow/external_function.tf
  new-terraform-workflow/frontend_appservice.tf
  new-terraform-workflow/loadbalancer.tf
  new-terraform-workflow/main.tf
  new-terraform-workflow/ml_vms.tf
  new-terraform-workflow/openai.tf
  new-terraform-workflow/providers.tf
  new-terraform-workflow/public_keys/adminuser/id_ed25519.pub
  new-terraform-workflow/public_keys/jbell/id_ed25519.pub
  new-terraform-workflow/public_keys/kbhattarai/kbhattarai.pub
  new-terraform-workflow/redis.tf
  new-terraform-workflow/storage.tf
  new-terraform-workflow/variables.tf
  terraform-halomd-main.zip
Due: none

Path conditions:
  .ado/pipelines/arbitration-app.yml: any of: Arbitration, .ado/pipelines/arbitration-app.yml
  .ado/pipelines/terraform-dev.yml: any of: platform/infra/envs/dev, .ado
  .ado/pipelines/terraform-multi.yml: any of: platform/infra, .ado
  azure-pipelines.yml: any of: platform/infra, .ado, azure-pipelines.yml
