Repository Leander-Dynamics/terraform-halomd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Path conditions:
  .ado/pipelines/arbitration-app.yml: any of: Arbitration, .ado/pipelines/arbitration-app.yml
  .ado/pipelines/terraform-dev.yml: any of: platform/infra/envs/dev, .ado
  .ado/pipelines/terraform-multi.yml: any of: platform/infra, .ado

Add Docker ignore rules for MPArbitration
  Arbitration/MPArbitration/.dockerignore
Due: .ado/pipelines/arbitration-app.yml

Restore web host bootstrap
  Arbitration/MPArbitration/Program.cs
Due: .ado/pipelines/arbitration-app.yml

Make AKS dns_prefix required and document usage
  platform/infra/Azure/modules/aks/README.md
  platform/infra/Azure/modules/aks/main.tf
  platform/infra/Azure/modules/aks/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Build Angular assets during Docker publish
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

Add required provider versions for envs
  platform/infra/envs/dev/versions.tf
  platform/infra/envs/prod/versions.tf
  platform/infra/envs/stage/versions.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add administrator credentials to MSSQL server module
  platform/infra/Azure/modules/mssql-server/README.md
  platform/infra/Azure/modules/mssql-server/main.tf
  platform/infra/Azure/modules/mssql-server/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Update NSG module variables
  platform/infra/Azure/modules/network-security-group/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Define lb module variable types
  platform/infra/Azure/modules/lb/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Require external SQL admin credentials for dev env
  README.md
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Remove redundant root package-lock
  Arbitration/MPArbitration/package-lock.json
Due: .ado/pipelines/arbitration-app.yml

Consolidate PublishRunWebpack target
  Arbitration/MPArbitration/MPArbitration.csproj
Due: .ado/pipelines/arbitration-app.yml

chore: pin node version in MPArbitration build
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

docs: clean up README introduction
  README.md
Due: none

feat: implement application gateway module
  platform/infra/Azure/modules/app-gateway/main.tf
  platform/infra/Azure/modules/app-gateway/outputs.tf
  platform/infra/Azure/modules/app-gateway/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Add ConfigurationManager package to MPArbitration
  Arbitration/MPArbitration/MPArbitration.csproj
Due: .ado/pipelines/arbitration-app.yml

Adjust MPArbitration dependencies for .NET 6
  Arbitration/MPArbitration/MPArbitration.csproj
Due: .ado/pipelines/arbitration-app.yml

Remove original package.json backup
  Arbitration/MPArbitration/ClientApp/package.json.original
Due: .ado/pipelines/arbitration-app.yml

Add Arbitration client npm steps to pipeline
  azure-pipelines.yml
Due: none

Remove prebuild script from MPArbitration client
  Arbitration/MPArbitration/ClientApp/package.json
Due: .ado/pipelines/arbitration-app.yml

Specify types for lb rule module variables
  platform/infra/Azure/modules/lb-rule/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Update SPA publish steps per configuration
  Arbitration/MPArbitration/MPArbitration.csproj
Due: .ado/pipelines/arbitration-app.yml

Update provider constraints for environments
  platform/infra/envs/dev/versions.tf
  platform/infra/envs/prod/versions.tf
  platform/infra/envs/stage/versions.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Restore Linux VM configuration variables
  platform/infra/Azure/modules/linux-virtual-machine/README.md
  platform/infra/Azure/modules/linux-virtual-machine/main.tf
  platform/infra/Azure/modules/linux-virtual-machine/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Stop ignoring Terraform lock files
  .gitignore
Due: none

Add tags support to network security group module
  platform/infra/Azure/modules/network-security-group/README.md
  platform/infra/Azure/modules/network-security-group/main.tf
  platform/infra/Azure/modules/network-security-group/variables.tf
Due: .ado/pipelines/terraform-multi.yml

Update ClientApp gitignore for node assets
  Arbitration/MPArbitration/ClientApp/.gitignore
Due: .ado/pipelines/arbitration-app.yml

Add tags support to managed disk module
  platform/infra/Azure/modules/managed-disk/README.md
  platform/infra/Azure/modules/managed-disk/main.tf
  platform/infra/Azure/modules/managed-disk/variables.tf
Due: .ado/pipelines/terraform-multi.yml

docs: document Node version requirements
  Arbitration/MPArbitration/ClientApp/.nvmrc
  Arbitration/MPArbitration/ClientApp/README.md
  Arbitration/MPArbitration/ClientApp/package.json
Due: .ado/pipelines/arbitration-app.yml

Add Bastion module and integrate into environments
  platform/infra/Azure/modules/bastion/README.md
  platform/infra/Azure/modules/bastion/main.tf
  platform/infra/Azure/modules/bastion/outputs.tf
  platform/infra/Azure/modules/bastion/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Update Angular test command
  Arbitration/MPArbitration/ClientApp/package.json
  azure-pipelines.yml
Due: .ado/pipelines/arbitration-app.yml

Add subnet NSGs with configurable rules
  platform/infra/Azure/modules/network-security-group/main.tf
  platform/infra/Azure/modules/network-security-group/outputs.tf
  platform/infra/Azure/modules/network-security-group/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Configure CORS policy for MPExternalDisputeAPI
  Arbitration/MPExternalDisputeAPI/Program.cs
Due: .ado/pipelines/arbitration-app.yml

Add NAT and VPN gateway modules and wire into environments
  platform/infra/Azure/modules/nat-gateway/main.tf
  platform/infra/Azure/modules/nat-gateway/outputs.tf
  platform/infra/Azure/modules/nat-gateway/variables.tf
  platform/infra/Azure/modules/vpn-gateway/main.tf
  platform/infra/Azure/modules/vpn-gateway/outputs.tf
  platform/infra/Azure/modules/vpn-gateway/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add global.json to pin .NET SDK
  global.json
Due: none

Add Azure private endpoint module and integrate optional KV/storage support
  platform/infra/Azure/modules/key-vault/main.tf
  platform/infra/Azure/modules/key-vault/variables.tf
  platform/infra/Azure/modules/private-endpoint/main.tf
  platform/infra/Azure/modules/private-endpoint/outputs.tf
  platform/infra/Azure/modules/private-endpoint/variables.tf
  platform/infra/Azure/modules/storage-account/main.tf
  platform/infra/Azure/modules/storage-account/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Run MPArbitration as non-root
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

Refactor NSA request script secret handling
  docs/Arbitration-SendNSARequests.md
  scripts/Arbitration-SendNSARequests.ps1
Due: none

Secure MPExternalDisputeAPI secret configuration
  Arbitration/MPExternalDisputeAPI/MPExternalDisputeAPI.csproj
  Arbitration/MPExternalDisputeAPI/Program.cs
  Arbitration/MPExternalDisputeAPI/Utility/SecureConfigurationHelper.cs
  Arbitration/MPExternalDisputeAPI/appsettings.json
Due: .ado/pipelines/arbitration-app.yml

Protect case archives by customer authorization
  Arbitration/MPArbitration/Controllers/CasesController.cs
  tests/TestArbitApi/CasesControllerAuthorizationTests.cs
  tests/TestArbitApi/Tests.csproj
Due: .ado/pipelines/arbitration-app.yml
