Repository Leander-Dynamics/terraform-halomd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Path conditions:
  .ado/pipelines/arbitration-app.yml: any of: Arbitration, .ado/pipelines/arbitration-app.yml
  .ado/pipelines/terraform-dev.yml: any of: platform/infra/envs/dev, .ado
  .ado/pipelines/terraform-multi.yml: any of: platform/infra, .ado
  azure-pipelines.yml: any of: platform/infra, .ado, azure-pipelines.yml

Remove duplicated provider constraints
  platform/infra/envs/dev/providers.tf
  platform/infra/envs/prod/providers.tf
  platform/infra/envs/stage/providers.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add optional tags support to Azure modules
  platform/infra/Azure/modules/lb/README.md
  platform/infra/Azure/modules/lb/main.tf
  platform/infra/Azure/modules/lb/variables.tf
  platform/infra/Azure/modules/linux-virtual-machine/README.md
  platform/infra/Azure/modules/linux-virtual-machine/main.tf
  platform/infra/Azure/modules/linux-virtual-machine/variables.tf
  platform/infra/Azure/modules/linux-web-app/README.md
  platform/infra/Azure/modules/linux-web-app/main.tf
  platform/infra/Azure/modules/linux-web-app/variables.tf
  platform/infra/Azure/modules/managed-disk/README.md
  platform/infra/Azure/modules/managed-disk/main.tf
  platform/infra/Azure/modules/managed-disk/variables.tf
  platform/infra/Azure/modules/mssql-database/README.md
  platform/infra/Azure/modules/mssql-database/main.tf
  platform/infra/Azure/modules/mssql-database/variables.tf
  platform/infra/Azure/modules/mssql-server/README.md
  platform/infra/Azure/modules/mssql-server/main.tf
  platform/infra/Azure/modules/mssql-server/variables.tf
  platform/infra/Azure/modules/network-security-group/README.md
  platform/infra/Azure/modules/network-security-group/main.tf
  platform/infra/Azure/modules/network-security-group/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Use npm ci and pin Node version in CI
  Arbitration/MPArbitration/MPArbitration.csproj
  azure-pipelines.yml
Due: .ado/pipelines/arbitration-app.yml, azure-pipelines.yml

Add arbitration build and test job to validate stage
  .ado/templates/tf-validate.yml
  azure-pipelines.yml
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Update Dockerfile base image and build dependencies
  Arbitration/MPArbitration/Dockerfile.linux
Due: .ado/pipelines/arbitration-app.yml

Secure SQL configuration for stage and prod
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Pin azuread and random provider versions
  platform/infra/envs/dev/versions.tf
  platform/infra/envs/prod/versions.tf
  platform/infra/envs/stage/versions.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

chore: allow tracking terraform lockfiles
  .gitignore
Due: none

Add NAT and VPN gateway controls to environment variables
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add Bastion configuration toggles for all environments
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Align dev variables with stage and prod
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Grant pipeline Key Vault access in dev
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add private endpoint configuration variables for environments
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add missing dev environment variables
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Clean dev environment variables
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

chore: add azuread and random providers
  platform/infra/envs/dev/providers.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Update dev network subnets
  platform/infra/envs/dev/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Update stage network addressing
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Update prod VNet and DNS configuration
  platform/infra/envs/prod/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Inject backend subscription and tenant IDs at runtime
  .ado/templates/tf-apply.yml
  .ado/templates/tf-plan.yml
  docs/DEV-Deploy-From-Laptop.md
  docs/GLOBAL-VARIABLES.md
  platform/infra/envs/dev/backend.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add subscription context variables and export in plan pipeline
  .ado/templates/tf-plan.yml
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Remove duplicate required providers block
  platform/infra/envs/dev/providers.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add missing environment variable definitions
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add DNS zone modules to stage and prod
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add application gateway module to environment stacks
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add SQL serverless module and configuration variables
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add monitoring module configuration to environments
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add container platform modules for stage and prod
  platform/infra/Azure/modules/aks/README.md
  platform/infra/Azure/modules/aks/main.tf
  platform/infra/Azure/modules/aks/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Manage stage/prod key vaults
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add function app modules and configuration for all environments
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add app service modules and configuration for envs
  platform/infra/Azure/modules/app-service-web/main.tf
  platform/infra/Azure/modules/app-service-web/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add versions.tf to Azure modules
  platform/infra/Azure/modules/aad-app/versions.tf
  platform/infra/Azure/modules/acr/versions.tf
  platform/infra/Azure/modules/aks/versions.tf
  platform/infra/Azure/modules/app-gateway/versions.tf
  platform/infra/Azure/modules/app-insights/versions.tf
  platform/infra/Azure/modules/app-service-arbitration/versions.tf
  platform/infra/Azure/modules/app-service-web/versions.tf
  platform/infra/Azure/modules/app-service/versions.tf
  platform/infra/Azure/modules/bastion/versions.tf
  platform/infra/Azure/modules/dns-zone/versions.tf
  platform/infra/Azure/modules/function-app/versions.tf
  platform/infra/Azure/modules/key-vault/versions.tf
  platform/infra/Azure/modules/lb-rule/versions.tf
  platform/infra/Azure/modules/lb/versions.tf
  platform/infra/Azure/modules/linux-function-app/versions.tf
  platform/infra/Azure/modules/linux-virtual-machine/versions.tf
  platform/infra/Azure/modules/linux-web-app/versions.tf
  platform/infra/Azure/modules/managed-disk/versions.tf
  platform/infra/Azure/modules/mssql-database/versions.tf
  platform/infra/Azure/modules/mssql-server/versions.tf
  platform/infra/Azure/modules/nat-gateway/versions.tf
  platform/infra/Azure/modules/network-security-group/versions.tf
  platform/infra/Azure/modules/network/versions.tf
  platform/infra/Azure/modules/private-endpoint/versions.tf
  platform/infra/Azure/modules/resource-group/versions.tf
  platform/infra/Azure/modules/sql-database/versions.tf
  platform/infra/Azure/modules/sql-serverless/versions.tf
  platform/infra/Azure/modules/storage-account/versions.tf
  platform/infra/Azure/modules/storage-container/versions.tf
  platform/infra/Azure/modules/virtual-machine-data-disk-attachment/versions.tf
  platform/infra/Azure/modules/vpn-gateway/versions.tf
Due: .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Use per-environment Terraform state containers
  README.md
  docs/network/Resource per Env for the Arbit project.txt
  docs/state-migration.md
  platform/infra/envs/dev/backend.tfvars
  platform/infra/envs/prod/backend.tfvars
  platform/infra/envs/stage/backend.tfvars
  scripts/azure-bootstrap-tfstate.ps1
  scripts/azure-bootstrap-tfstate.sh
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add files via upload
  Arbitration.zip
  terraform-halomd-main.zip
Due: none

Add terraform run helper script
  README.md
  scripts/run-terraform.sh
Due: none

Define arbitration web app configuration maps
  docs/SECRETS-AKV.md
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

feat: add qa infrastructure environment
  .ado/pipelines/arbitration-app.yml
  README.md
  azure-pipelines.yml
  docs/ADO-CICD-Workflow.md
  docs/ADO-setup.md
  docs/network/Resource per Env for the Arbit project.txt
  docs/step-by-step.md
  platform/infra/envs/qa/backend.tf
  platform/infra/envs/qa/main.tf
  platform/infra/envs/qa/principal.auto.tfvars.sample
  platform/infra/envs/qa/providers.tf
  platform/infra/envs/qa/variables.tf
  platform/infra/envs/qa/versions.tf
  scripts/azure-bootstrap-tfstate.ps1
  scripts/azure-bootstrap-tfstate.sh
Due: .ado/pipelines/arbitration-app.yml, .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml

Add files via upload
  Development Network - Technology Platform - HaloMD Wiki.pdf
  Hub Network - Technology Platform - HaloMD Wiki.html
  Private DNS Resolver - Technology Platform - HaloMD Wiki.pdf
  Production Network - Technology Platform - HaloMD Wiki.pdf
  QA Network - Technology Platform - HaloMD Wiki.pdf
  Session flow for public users for the Arbit Project to the new AZ Env.doc
  Staging Network - Technology Platform - HaloMD Wiki.pdf
Due: none

feat: consolidate web app modules
  platform/infra/Azure/modules/app-service-arbitration/main.tf
  platform/infra/Azure/modules/app-service-arbitration/variables.tf
  platform/infra/Azure/modules/app-service-web/outputs.tf
  platform/infra/Azure/modules/app-service-web/variables.tf
  platform/infra/Azure/modules/app-service-web/versions.tf
  platform/infra/Azure/modules/web-app/main.tf
  platform/infra/Azure/modules/web-app/outputs.tf
  platform/infra/Azure/modules/web-app/variables.tf
  platform/infra/Azure/modules/web-app/versions.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml, azure-pipelines.yml
