Repository Leander-Dynamics/terraform-halomd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

.ado/pipelines/terraform-dev.yml:

trigger:
  branches: { include: [ main ] }
  paths: { include: [ 'platform/infra/envs/dev/**', '.ado/**' ] }

pr:
  branches: { include: [ main, feature/* ] }
  paths: { include: [ 'platform/infra/envs/dev/**', '.ado/**' ] }

pool: { vmImage: 'ubuntu-latest' }

variables:
  TF_VERSION: '1.7.5'
  TF_LOCK_TIMEOUT: '20m'

stages:
- stage: Validate
  jobs:
  - template: ../templates/tf-validate.yml
    parameters:
      envName: dev
      tfVersion: ${{ variables.TF_VERSION }}

- stage: Plan
  dependsOn: Validate
  jobs:
  - template: ../templates/tf-plan.yml
    parameters:
      envName: dev
      serviceConnection: sc-azure-oidc-dev
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

- stage: Apply
  dependsOn: Plan
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - template: ../templates/tf-apply.yml
    parameters:
      envName: dev
      serviceConnection: sc-azure-oidc-dev
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

.ado/pipelines/terraform-multi.yml:

trigger:
  branches: { include: [ main ] }
  paths: { include: [ 'platform/infra/**', '.ado/**' ] }

pr:
  branches: { include: [ main, feature/* ] }
  paths: { include: [ 'platform/infra/**', '.ado/**' ] }

pool: { vmImage: 'ubuntu-latest' }

variables:
  TF_VERSION: '1.7.5'
  TF_LOCK_TIMEOUT: '20m'

stages:
- stage: Validate
  displayName: Validate & Lint
  jobs:
  - template: ../templates/tf-validate.yml
    parameters:
      envName: dev
      tfVersion: ${{ variables.TF_VERSION }}

- stage: Plan_All
  displayName: Terraform Plan (dev, stage, prod)
  dependsOn: Validate
  jobs:
  - template: ../templates/tf-plan.yml
    parameters:
      envName: dev
      serviceConnection: sc-azure-oidc-dev
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}
  - template: ../templates/tf-plan.yml
    parameters:
      envName: stage
      serviceConnection: sc-azure-oidc-stage
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}
  - template: ../templates/tf-plan.yml
    parameters:
      envName: prod
      serviceConnection: sc-azure-oidc-prod
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

- stage: Apply_Dev
  displayName: Terraform Apply (dev)
  dependsOn: Plan_All
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - template: ../templates/tf-apply.yml
    parameters:
      envName: dev
      serviceConnection: sc-azure-oidc-dev
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

- stage: Apply_Stage
  displayName: Terraform Apply (stage)
  dependsOn: Apply_Dev
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - template: ../templates/tf-apply.yml
    parameters:
      envName: stage
      serviceConnection: sc-azure-oidc-stage
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

- stage: Apply_Prod
  displayName: Terraform Apply (prod)
  dependsOn: Apply_Stage
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - template: ../templates/tf-apply.yml
    parameters:
      envName: prod
      serviceConnection: sc-azure-oidc-prod
      tfVersion: ${{ variables.TF_VERSION }}
      lockTimeout: ${{ variables.TF_LOCK_TIMEOUT }}

Fix Terraform modules and configuration
  platform/infra/Azure/modules/acr/main.tf
  platform/infra/Azure/modules/acr/outputs.tf
  platform/infra/Azure/modules/acr/variables.tf
  platform/infra/Azure/modules/aks/main.tf
  platform/infra/Azure/modules/aks/outputs.tf
  platform/infra/Azure/modules/aks/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

refactor: reference rg module output
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

fix: consolidate App Insights connection string
  platform/infra/envs/dev/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

refactor: share service plan
  platform/infra/Azure/modules/app-service-web/main.tf
  platform/infra/Azure/modules/app-service-web/variables.tf
  platform/infra/Azure/modules/function-app/main.tf
  platform/infra/Azure/modules/function-app/variables.tf
  platform/infra/Azure/modules/service-plan/main.tf
  platform/infra/Azure/modules/service-plan/outputs.tf
  platform/infra/Azure/modules/service-plan/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

refactor: remove backend variables from dev env config
  platform/infra/envs/dev/backend.tfvars
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: centralize dev resource naming
  platform/infra/envs/dev/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: standardize environment variable naming
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml

feat: standardize backend rg naming
  azure-cicd-pipeline-ado.yml
Due: none

Network information per env.
  Development Network - Technology Platform - HaloMD Wiki.pdf
  Hub Network - Technology Platform - HaloMD Wiki.html
  Private DNS Resolver - Technology Platform - HaloMD Wiki.pdf
  Production Network - Technology Platform - HaloMD Wiki.pdf
  QA Network - Technology Platform - HaloMD Wiki.pdf
  Staging Network - Technology Platform - HaloMD Wiki.pdf
Due: none

Resource naming for the dev, staging and prod
  Resource per Env for the Arbit project.txt
Due: none

chore: align env backend and config
  platform/infra/envs/prod/backend.tfvars
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/backend.tfvars
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-multi.yml

Update stage storage account reference
  Resource per Env for the Arbit project.txt
Due: none

Update stage backend storage account name
  platform/infra/envs/stage/backend.tfvars
Due: .ado/pipelines/terraform-multi.yml

Add files via upload
  Arbitration.zip
Due: none

Add SQL firewall configuration to environment configs
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Configure SQL firewall rules for all environments
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Remove ignored patterns from .gitignore
  .gitignore
Due: none

Sanitize arbitration configuration secrets
  Arbitration/MPArbitration/appsettings.json
  Arbitration/MPNotify/App.config
Due: none

Add arbitration app service module and wire environments
  platform/infra/Azure/modules/app-service-arbitration/main.tf
  platform/infra/Azure/modules/app-service-arbitration/outputs.tf
  platform/infra/Azure/modules/app-service-arbitration/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

infra: add DNS zone module for az.halomd.com
  platform/infra/Azure/modules/dns-zone/main.tf
  platform/infra/Azure/modules/dns-zone/outputs.tf
  platform/infra/Azure/modules/dns-zone/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add GitHub Actions workflow for Terraform deployments
  .github/workflows/terraform-deploy.yml
Due: none

Add App Insights module and wire diagnostics
  README.md
  platform/infra/Azure/modules/aks/main.tf
  platform/infra/Azure/modules/aks/variables.tf
  platform/infra/Azure/modules/app-insights/main.tf
  platform/infra/Azure/modules/app-insights/outputs.tf
  platform/infra/Azure/modules/app-insights/variables.tf
  platform/infra/Azure/modules/app-service-arbitration/main.tf
  platform/infra/Azure/modules/app-service-arbitration/variables.tf
  platform/infra/Azure/modules/app-service-web/main.tf
  platform/infra/Azure/modules/app-service-web/variables.tf
  platform/infra/Azure/modules/function-app/main.tf
  platform/infra/Azure/modules/function-app/variables.tf
  platform/infra/Azure/modules/logs-insights/main.tf
  platform/infra/Azure/modules/logs-insights/outputs.tf
  platform/infra/Azure/modules/logs-insights/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/stage/main.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: remove legacy pipelines
  .ado/pipelines/terraform-dev.yml
  .ado/pipelines/terraform-multi.yml
  .ado/pipelines/terraform-prod.yml
  .ado/pipelines/terraform-stage.yml
  .github/workflows/terraform-deploy.yml
  Arbitration/MPArbitration/azure-pipelines.yml
  README-CI-CD.md
  README.md
  azure-cicd-pipeline-ado.yml
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add link to Angular client documentation
  README.md
Due: none

docs: consolidate readmes into primary guide
  README-ALL-IN-ONE.md
  README-CI-CD.md
  README.md
  docs/README-CI-CD.md
Due: none

Replace placeholder citations with markdown references
  README-ALL-IN-ONE.md
Due: none

Add arbitration app multi-stage pipeline
  .ado/pipelines/arbitration-app.yml
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

feat: add sql serverless module
  platform/infra/Azure/modules/sql-serverless/main.tf
  platform/infra/Azure/modules/sql-serverless/outputs.tf
  platform/infra/Azure/modules/sql-serverless/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add Azure application gateway module
  platform/infra/Azure/modules/app-gateway/main.tf
  platform/infra/Azure/modules/app-gateway/outputs.tf
  platform/infra/Azure/modules/app-gateway/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Add core infrastructure modules and environment wiring
  platform/infra/Azure/modules/app-gateway/main.tf
  platform/infra/Azure/modules/app-gateway/outputs.tf
  platform/infra/Azure/modules/app-gateway/variables.tf
  platform/infra/Azure/modules/app-service/main.tf
  platform/infra/Azure/modules/app-service/outputs.tf
  platform/infra/Azure/modules/app-service/variables.tf
  platform/infra/Azure/modules/network/main.tf
  platform/infra/Azure/modules/network/outputs.tf
  platform/infra/Azure/modules/network/variables.tf
  platform/infra/Azure/modules/sql-serverless/main.tf
  platform/infra/Azure/modules/sql-serverless/outputs.tf
  platform/infra/Azure/modules/sql-serverless/variables.tf
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
  platform/infra/envs/prod/main.tf
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/prod/variables.tf
  platform/infra/envs/stage/main.tf
  platform/infra/envs/stage/terraform.tfvars
  platform/infra/envs/stage/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

chore: organize network docs
  README.md
  docs/network/Development Network - Technology Platform - HaloMD Wiki.pdf
  docs/network/Hub Network - Technology Platform - HaloMD Wiki.html
  docs/network/Private DNS Resolver - Technology Platform - HaloMD Wiki.pdf
  docs/network/Production Network - Technology Platform - HaloMD Wiki.pdf
  docs/network/QA Network - Technology Platform - HaloMD Wiki.pdf
  docs/network/Resource per Env for the Arbit project.txt
  docs/network/Staging Network - Technology Platform - HaloMD Wiki.pdf
  meta.md
Due: none

Reorganize arbitration assets
  Arbitration/MPArbitration.sln
  db/migrations/arbitration/2380_ImportFieldConfigs-EOB Date Add Script.sql
  db/migrations/arbitration/2398_PayorClaimNumber Column add script.sql
  db/migrations/arbitration/2400-Populate 'Brief Approver' in 'Brief Details' Section on Dispute Page.sql
  db/migrations/arbitration/2404-Populate 'Brief Assigned Date' in the Brief Details Section on the Dispute Page.sql
  db/migrations/arbitration/2439_DisputeMasterDisputeStatus-Data popoulation.sql
  db/migrations/arbitration/2465_Id Column add for Dispute Ref tables script.sql
  db/migrations/arbitration/2508_Add_PrevailingParty_AND_AwardAmount_Columns_In_DisputeMaster.sql
  db/migrations/arbitration/2508_DataTransfer_PrevailingParty_AND_AwardAmount_to_DisputeMaster.sql
  db/migrations/arbitration/2508_Remove_PrevailingParty_AND_TotalAwardAmount_Columns_From_DisputeAwardDeterminations.sql
  db/migrations/arbitration/Arbit-DisputeNumber.sql
  db/migrations/arbitration/ParseJson.sql
  db/migrations/arbitration/PayorClaim-AuthorityID.sql
  scripts/Arbitration-SendNSARequests.ps1
  tests/TestArbitApi/Tests.csproj
  tests/TestArbitApi/UnitTest_NegotiationNoticeDeadline.cs
Due: none

Sanitize configuration secrets
  .gitignore
  Arbitration/MPArbitration/appsettings.json
  Arbitration/MPArbitration/appsettings.json.example
  Arbitration/MPArbitration/docker-compose.yml.example
  Arbitration/MPExternalDisputeAPI/appsettings.json
  Arbitration/MPExternalDisputeAPI/appsettings.json.example
  Arbitration/MPNotify/App.config
  Arbitration/MPNotify/App.config.example
  Arbitration/MPNotify/AppMain.cs
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/terraform.tfvars.example
  platform/infra/envs/prod/terraform.tfvars.example
  platform/infra/envs/stage/terraform.tfvars.example
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Refactor arbitration pipeline and remove legacy scripts
  .ado/pipelines/arbitration-app.yml
  .ado/templates/arbitration-build.yml
  .ado/templates/arbitration-deploy.yml
  Arbitration/MPArbitration/docker-compose.yml
  Arbitration/MPNotify/mpbuild.bat
  Arbitration/MPNotify/mpnotify.bat
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Resolved merge conflicts with main
  Arbitration/MPArbitration/ClientApp/.vscode/launch.json
Due: none

Use variable group values for arbitration app deployments
  .ado/pipelines/arbitration-app.yml
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Sanitize dev tfvars and shift secrets to Key Vault
  docs/SECRETS-AKV.md
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/providers.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/dev/variables.tf
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml

Use sql_auto_pause_delay variable
  docs/network/Resource per Env for the Arbit project.txt
  platform/infra/envs/dev/main.tf
  platform/infra/envs/dev/terraform.tfvars
  platform/infra/envs/prod/terraform.tfvars
  platform/infra/envs/stage/terraform.tfvars
Due: .ado/pipelines/terraform-dev.yml, .ado/pipelines/terraform-multi.yml
